/* @import url('site.css'); */

.login-wrapper {
    margin-top: 160px;
    border-top: 1px solid #ebeff2;
    border-bottom: 1px solid #ebeff2;
}

/* .login {
    padding-left: 3em !important;
    padding-right: 3em !important;
} */

.logo {
    margin-top: -40px;
}

.forgot-pwd {
    font-weight: 500;
    color: #555;
}
