# phpstorm project files
/.idea

# netbeans project files
/nbproject

# Mac DS_Store Files
.DS_Store

# zend studio for eclipse project files
/.buildpath
/.project
/.settings
/.vscode

# vagrant files
/.vagrant

# windows thumbnail cache
/Thumbs.db

# local settings variables
.env

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# translations messages dir
messages

# language config
language

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

# tenants instance dir
tenants/*
!tenants/_config
!tenants/_default
!tenants/README.md
