@import url('site.css');

#login_wrapper {
    padding: 80px 0;
    border-top: 1px solid #ebeff2;
    border-bottom: 1px solid #ebeff2;
}

.logo {
    margin-top: -40px;
}

#forgot_pwd {
    font-weight: 500;
    color: #555;
}
