body {
    font-family: "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    /* #eef0f6 #fff whitesmoke hsl(225,30,94) rgb(238,240,246) */
    background-color: #eef0f6; 
    /* override height: 100% in semantic-ui.css to remove scrollbar in short pages */
    height: auto;
}

/* @media only screen and (min-width: 1200px)  */
.ui.container, .ui.grid.container {
    width: 1290px !important;
}

#page_head > .grid > .column {
    padding-left: 0rem;
    padding-right: 0rem;
}

.main {
    /* background-color: #4b4c9d; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    /* color: #fff; */
    /* min-width: 100%; */
    margin-top: 124px;
    /* border: 0px; */
    /* position: absolute; */
    /* top: 0; */
    /* bottom: 0; */
    /* overflow: auto; */
}

#main_nav, #page_head {
    /* #ffffff #fff white hsl(0,0,100) rgb(255,255,255) */
    background-color: #ffffff;
    border-color: #ebeff2;
    padding: 1em 0;
}
/* Alert / Notifications counters */
#main_nav .ui.dropdown .menu > .item > .label {
    float: right;
    margin-top: -1.45em;
    margin-right: 0;
}

#page_head .view-header {
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}

#page_head .ui.header, .ui.floated.header {
    font-weight: normal;
    color:#36414c;
}

#header_wrapper {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 801;
}

#main_nav, #page_header {
    position: relative;
}

#home_icon .ui.button, #main_menu {
    font-weight: bold;
    color: #fff;
    background-color: #f5f7fa;
}

#home_icon .ui.button:hover {
    background-color: #fafbfc;
}

#list_header {
    padding: 0em;
}

/* .navbar */
.vertical-bar {
    border-right: 1px solid #dee5e7;
    height: 24px;
}

.dropdown.item > .menu, .ui.text.menu .dropdown.item > .menu {
    border-radius: 0.2rem;
    /* margin-top: 0.35em; */
}

#sidebar .ui.menu .header.item, .ui.vertical.menu .header.item {
    font-weight: normal;
    color: #6c7680;
}

#sidebar .ui.vertical.menu .item .menu .active.item {
    font-weight: normal;
}

#sidebar .ui.vertical.text.menu .item {
    line-height: 20px;
}

#sidebar .ui.vertical.menu .item > .label,
#open_issues .ui.vertical.menu .item > .label
{
    font-weight: normal;
    color: #555;
    margin-top: -0.45em;
    background-color: #fafbfc;
}

#sidebar .ui.vertical.menu, #sidebar .ui.secondary.vertical.pointing.menu {
    width: inherit;
}

#sidebar .ui.secondary.vertical.pointing.menu .item {
    margin-bottom: 20px;
    font-size: small;
}

#sidebar .ui.vertical.text.menu .ui.header {
    text-transform: uppercase;
    color: #8D99A6;
    font-size: 10px;
    font-weight: 500;
}

/* body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
} */

/* Works on Firefox */
/* * {
    scrollbar-width: thin;
    scrollbar-color: #ebeff2 #dee5e7;
} */

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #ebeff2;
}

*::-webkit-scrollbar-thumb {
    background-color: #8d99a6;
    border: 1px solid #dee5e7;
}

/*#sidebar .ui.divider {
    margin: 0rem 0rem;
}*/

/*#open_issues .menu .ui.label {
    font-weight: normal;
    color: #555;
    background-color: #fafbfc;
}*/

.ui.breadcrumb {
    font-size: 1rem;
    font-weight: 500;
}

.ui.breadcrumb a, .ui.breadcrumb a:hover {
    color: #6c7680;
}

.ui.secondary.pointing.menu .active.item {
    font-weight: 500;
}

#main_nav.ui.text.menu .item {
    font-weight: 500;
    font-size: 1rem;
    padding: 0.35714286em 0em;
}

.ui.menu {
    border: 2px solid #dee5e7;
}

.message {
    position: absolute !important;
    z-index: 100;
}

.ui.disabled.search {
    opacity: 1;
    background-color: #f5f7fa;
}

.ui.attached.header, .ui.attached.segment {
    border: 1px solid #dee5e7;
}

.ui.secondary.segment {
    background-color: #fafbfc;
}

.ui.segment[class*="top attached"] {
    margin-top: 0;
}

.ui.fixed.menu {
    z-index: 801;
}

#sidebar {
    position: fixed;
    transition: none;
    z-index: 800;
    width: 188.562px;
}

.page-sidebar .ui.vertical.menu {
    width: 17.9rem;
}

.page-sidebar .ui.secondary.vertical.pointing.menu .item:hover, 
.page-sidebar .ui.secondary.vertical.pointing.menu .item.active {
    border-right-color: #1B1C1D;
    width: 99%;
}

.page-sidebar {
    position: fixed;
    height: 50rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.ui.secondary.vertical.pointing.menu {
    border-right-style: none;
}

.page-sidebar .ui.secondary.vertical.pointing.menu .item {
    margin-bottom: 15px;
}

.ui.menu, .ui.header {
    font-family: inherit;
}

.ui.vertical.menu .menu > .item {
    font-size: inherit;
    margin-bottom: 10px;
}

.ui.vertical.menu .menu > .item:last-child {
    margin-bottom: 0;
}

.ui.table {
    border: 1px solid #dee5e7;
    /* border-radius: 0.28571429rem; */
}

.ui.table thead th {
    border-bottom: 2px solid #dee5e7;
}

.ui.structured.celled.table tr th,
.ui.structured.celled.table tr td {
    border-left: 2px solid #dee5e7;
}

.ui.checkbox > label,
.ui.form .field > label,
.ui.toggle.checkbox label,
.ui.toggle.checkbox input:checked ~ label,
.comment-form .ui.small.header {
    color: #6c7680 !important;
    font-weight: normal;
    font-size: 110%;
}

.ui.form input:not([type]):focus,
.ui.form input[type="date"]:focus,
.ui.form input[type="datetime-local"]:focus,
.ui.form input[type="email"]:focus,
.ui.form input[type="number"]:focus,
.ui.form input[type="password"]:focus,
.ui.form input[type="search"]:focus,
.ui.form input[type="tel"]:focus,
.ui.form input[type="time"]:focus,
.ui.form input[type="text"]:focus,
.ui.form input[type="file"]:focus,
.ui.form input[type="url"]:focus,
.ui.form textarea:focus
/* , .ui.search.dropdown > input.search */
{
    color: #555;
    border-color: #dee5e7;
    background: lightyellow;
    -webkit-box-shadow: 0.05rem 0.035rem 0.15rem inset #dee5e7;
    box-shadow: 0.05rem 0.035rem 0.15rem inset #dee5e7;
}

.ui.form input:not([type]), 
.ui.form input[type="datetime-local"], 
.ui.form input[type="date"], .ui.form input[type="time"], 
.ui.form input[type="tel"], 
.ui.form input[type="email"], .ui.form input[type="password"], 
.ui.form input[type="url"], .ui.form input[type="search"], 
.ui.form input[type="file"], 
.ui.form input[type="number"], 
.ui.form input[type="text"], .ui.table input[type="text"],
.ui.form textarea,
.ui.form .ui.selection.dropdown, .ui.table .ui.selection.dropdown {
    font-family: inherit;
    font-size: 16px;
    color: #555;
    border: 1px solid #dee5e7;
    background-color: #fafbfc;
    -webkit-box-shadow: 0.05rem 0.035rem 0.15rem inset #dee5e7;
    box-shadow: 0.05rem 0.035rem 0.15rem inset #dee5e7;
}

.ui.selection.active.dropdown:hover .menu, 
.ui.selection.active.dropdown:focus-within .menu {
    border-color: #dee5e7;
}

.ui.form input[readonly], .ui.form textarea[readonly],
.ui.form .ui.selection.dropdown.disabled {
    /* border: none; */
    box-shadow: none;
}

.ui.form .ui.selection.dropdown.disabled {
    background-color: #f5f7fa !important;
}

.ui.form .ui.selection.dropdown.disabled .dropdown.icon {
    display: none;
}

.ui.transparent.input {
    width: 100%;
}

.ui.transparent.input > input:focus, 
.ui.transparent.input > textarea:focus, 
.ui.transparent.input > select:focus {
    background-color: ivory !important;
}

#search_form .ui.icon.input > input {
    /* padding: 0.5rem 0.75rem; */
    font-size: 1rem;
    border-width: 1px;
    background-color: #fafbfc;
}

/* .ui.dropdown > .dropdown.icon:before { */
    /* caret-down */
    /* content: '\f0d7';  */
    /* caret-square-down */
    /* content: '\f150'; */
    /* chevron-down */
    /* content: '\f078'; */
    /* angle-down */
    /* content: '\f107'; */
/* } */

/* .ui.form input:focus {
    border-color: inherit;
} */

.ui.modal > .content {
    padding: 1.15rem;
    background-color:#eef0f6;
}

/* .ui.modal .ui.vertical.segment {
    padding: 1.5rem;
} */

.ui.button {
    font-family: inherit;
    font-weight: normal;
}

/* .ui.circular.labels .label, .ui.circular.label {
    padding: 0.35em !important;
} */

.app-status-label {
    color: #6c7680;
}

.app-hidden {
    display: none;
}

.grid-view.ui.segment {
    /* padding-left: 10px;
    padding-right: 10px; */
    color: #6c7680;
}

.grid-view .filters .ui.input > input {
    border-width: 2px;
}

.grid-view .ui.table[class*="very basic"]:not(.sortable):not(.striped) thead tr:first-child th {
    padding-top: 1em;
    padding-left: 1em;
    color: #6c7680;
}

.grid-view .ui.table[class*="very basic"]:not(.sortable):not(.striped) td:first-child {
    padding-left: 1em;
}

.grid-view .ui.grid > .row:not(.dt-table) {
    padding: 1rem;
}

.grid-view .ui.table th a {
    color: #8d99a6;
    font-weight: 500;
}

.grid-view .ui.table td, .grid-view .ui.table td a {
    color: #555;
}

.grid-view .ui.table td > a {
    font-weight: bold;
}

.grid-view .ui.table td a:hover {
    text-decoration: underline;
}

.main-index .ui.icon.button {
    margin: 0em;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.app-icon h4 {
    font-family: inherit;
    font-size: 0.975rem;
    font-weight: 500;
    color: #555;
}

.app-icon .ui.floating.label {
    top: -0.95em;
    left: 76%;
}

.ui.selection.multiple .ui.label {
    font-weight: normal;
}

.ui.basic.grey.button:hover, .ui.basic.primary.button:hover {
    background: #F8F8F8 !important;
}

.ui.relaxed.link.list > .item .content > a {
    color: #555;
}

.ui.comments {
    margin: 0em;
    /* padding: 1.5em; */
    max-width: 100%;
}

/* .ui.threaded.comments {
    position: relative;
    padding-left: 47px;
    padding-top: 20px;

    @include media-breakpoint-down(xs) {
        padding-left: calc(var(--padding-sm) + var(--timeline-item-icon-size) / 2);
    }
}

.ui.threaded.comments:before {
    content: ' ';
    top: 0px;
    position: absolute;
    border-left: 1px solid #8d8d8d;
    bottom: calc(-1 * 4em + 25px);
}

.ui.threaded.comments .timeline-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    font-size: var(--text-xs);
    position: absolute;
    --zero-px: 0px;
    top: clamp(var(--zero-px), 50% - 16px/2, max(var(--zero-px), (34px - (50% - 16px/2)) * 34));
    left: calc(-1 * (16px / 2));
    background-color: var(--fg-color);
    border: 1px solid var(--dark-border-color);
    --icon-stroke: var(--gray-600);
} */

.ui.threaded.comments {
    padding: 20px;
}

.timeline-dot {
    padding-right: 20px;
}

.ui.comments .comment .text {
    margin: 1.25em 0em 0.5em;
}

#comment_section.ui.divider {
    margin: .5rem 0rem;
}

.ui.comments .comment, .author, .ui.comments .comment .text {
    font-size: 95% !important;
	color: #6c7680;
}
.author {
    color: #6c7680 !important;
}
.author:hover {
    /* color: #1f272e !important; */
    text-decoration: underline;
}
/* Reports Layout */

#report_content .grid-view.ui.segment {
    padding-left: 0.350em;
    padding-right: 0.350em;
}

#report_content .ui.grid > .row > .column {
    padding-left: 0;
    padding-right: 0;
}

#report_content .grid-view.ui.segment {
    max-width: 1155px;
    max-height: 455px;
    overflow-x: scroll; /* must be included */
}

#report_content .grid-view.ui.segment, #report_content .grid-view .ui.table {
    border-radius: 0;
}

#report_content .grid-view .ui.table thead th {
    background-color: #f5f7fa;
    padding: 0.5em 0.350em;
}

/* Dashboard Panels */

.ui.feed > .event > .content .summary {
	margin: 0em;
	/* font-size: 96%; */
	font-weight: normal;
	color: inherit;
}

.ui.feed > .event > .content .extra.text {
	/* font-size: 92.5%; */
	line-height: 1.65em;
}

.ui.feed > .event > .content .summary a {
    color: #36414c;
}
.ui.statistic > .value, .ui.statistic > .label {
    color: #555;
}

.ui.statistic > .label {
    font-weight: normal;
    font-size: .950em;
}

#dash .ui.header, #dash .ui.sub.header a {
    color: #555;
}

.description, span.date {
    color: #555;
    /* font-size: 12px; */
}

.ui.form input[type="file"], .ui.form .field.error input[type="file"] {
    position: absolute; /* move it out of place */
    padding: 0;
    border: 0;
    height: 0;
    width: 0
}

.ui.form textarea {
    /* resize: none; */
    /* min-height: initial; */
    line-height: 26px;
}

.ui.transparent.input textarea {
    border-color: transparent !important;
    background-color: transparent !important;
    padding: 0em !important;
    box-shadow: none !important;
}

.page-sidebar .item {
    margin-bottom: 20px
}

.achievement-view p{
    font-family: 'Merriweather', serif !important;
    line-height: 2;
}

.text-muted {
    color: #8D99A6 !important
}

.custom-listbox {
    overflow-y: auto;
    height: 105px; /* 225px; */
}

.linked-data > .item > a {
    color: #6c7680;
}

#permissions {
    overflow-x: auto;
}

.emphasis, .emphasis input {
    font-weight: 500;
}

.number input {
    text-align: right;
}

.in-form.table th {
    color: #6c7680 !important;
    font-weight: normal !important;
}

.login {
    padding-left: 3em !important;
    padding-right: 3em !important;
}

#main_sidebar {
    position: absolute;
    z-index: 900;
    background: #f5f7fa;
}

#main_sidebar.ui.vertical.menu .item {
    /* font-size: 115%; */
    border: none !important;
}

#main_sidebar.ui.vertical.menu {
    border: none;
}

#main_sidebar.ui.vertical.menu .item > i.icon {
    /* float: left; */
    line-height: 0.5em;
}

#main_sidebar > a.item > i.grey {
    color: #8D99A6 !important;
    opacity: 0.8;
}

#main_sidebar a#pin_sidebar {
    float: right;
}

#main_sidebar a#pin_sidebar i {
    margin-right: 0em;
    color: #8d99a6 !important;
}

.nav-menu {
    margin-top: 1.2em !important;
    border-radius: 0rem !important;
}

.ui.cards > .card, .ui.card {
    border-radius: 0.15rem;
    -webkit-box-shadow: 0px 1px 3px 0px #dee5e7, 0px 0px 0px 1px #dee5e7;
    box-shadow: 0px 1px 3px 0px #dee5e7, 0px 0px 0px 1px #dee5e7;
}

#page_head .ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 1.5em;
}

.ui.header .icon:only-child {
    /* display: inline-block;
    padding: 0em; */
    margin-right: 0.4em;
    vertical-align: 0.1em;
    font-size: 75%;
}

.ui.header small {
    font-size: 70%;
}